@import 'tailwindcss';

@theme {
  --font-display: 'Bangers', 'sans-serif';
  --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

@variant disabled (&:disabled);

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
    font-weight: 500;
  }
}
